:root {
  --primary-color: #00d1b2;
}



/* --- text --- */
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.text-primary {
  color: var(--primary-color);
}

.text-lg {
  font-size: 1.5rem; /* 24px / 16px */
}

.text-xl {
  font-size: 2rem; /* 32px / 16px */
}

p {
  font-size: 1.25rem; /* 20px / 16px */
}



/* --- spacing --- */
.mb-lg {
  margin-bottom: 3rem; /* 48px / 16px */
}

.pt-0 {
  padding-top: 0;
  margin-top: -3rem; /* 48px / 16px */
}



/* --- hr --- */

hr {
  background-color: var(--primary-color);
  height: 2px;
  margin: 3rem 0; /* 48px / 16px */
}



/* --- dl --- */
dt {
  margin-bottom: 1.25rem; /* 20px / 16px */
}



.hero {
  background: black url("./images/banner.jpg") no-repeat scroll center / cover !important;
}